*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start fonts */
@font-face {
    font-family: 'teko-regular';
    src: url(../fonts/static/Teko-Regular.ttf) format('woff2');
}
@font-face {
    font-family: 'teko-semibold';
    src: url(../fonts/static/Teko-SemiBold.ttf) format('woff2');
}
@font-face {
    font-family: 'teko-bold';
    src: url(../fonts/static/Teko-Bold.ttf) format('woff2');
}
/* end fonts */

:root{
    --main-color : #fc0820 ;
    --white-color: #fff ;
    --dark-color : #0c0305;  
    --regular-font : 'teko-regular', sans-serif ;
    --semibold-font : 'teko-semibold' , sans-serif ;
    --bold-font : 'teko-bold' , sans-serif ;
}


body{
    font-family: var(--regular-font);
    color: var(--white-color);
    height: 1000vh;
}


/* start nav */
nav{
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 6% 0 ;
}
nav > img{
    width: 160px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 15px;

}
nav ul li{
    list-style: none;
}
nav ul li:hover > a{
    background: #000;
}
nav ul li  a{
    transition: 0.5s;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--white-color);
    padding: 10px;
    display: block;
}
nav ul li a i{
    font-size: 14px;
}
nav .data{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .data >i{
    cursor: pointer;
    font-size: 20px;
}
nav .data > i:first-child{
    position: relative;
}
nav .data > i:first-child::after{
    content: '1';
    position: absolute;
    width: 17px;
    height: 17px;
    font-size: 11px;
    border-radius: 50%;
    top: -5px;
    right: -10px;
    font-family: var(--bold-font);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}
nav .data .menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
nav .data .menu span{
    width: 32px;
    height: 2.5px;
    border-radius: 5px;
    background-color: var(--white-color);
}
nav .data .menu span:last-child{
    width: 25px;
}
nav .data .theme{
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3d4152 ;
}
nav .data .theme i{
    font-size: 16px;
    animation: rotate 2s infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
nav li{
    position: relative;
}
nav .dropDown ,
nav .dropDown *{
    transition: 0.3s;
}
nav li:hover .dropDown{
    opacity: 1;
    transform: scaleY(1);
} 
nav .dropDown {
    opacity: 0;
    transform-origin: top ;
    transform: scaleY(0);
    position: absolute;
    width: 200px;
    left: 0;
    padding: 15px;
    top: 100% ;
    background-color: var(--dark-color);
    box-shadow:  0 0 10px 1px #555;
    border-radius: 5px;
}
nav .dropDown a{
    transform: translateX(-20px);
    padding: 5px;
    font-size: 16px;
}
nav .dropDown a i{
    color: var(--main-color);
    opacity: 0;
} 
nav .dropDown a.active ,
nav .dropDown a:hover{
    transform: translateX(0px);
    color: var(--main-color);
}
nav .dropDown a.active i ,
nav .dropDown a:hover i{
    opacity: 1;
}
/* end nav */



/* start header */
header{
    min-height: 105vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px  7%;
    transition: 0.5s;
    animation: bg 12s infinite ;
    animation-timing-function:cubic-bezier(0.175, 0.92, 0.165, 1);
    
}
@keyframes bg {
    0%{
        background: url(../images/main-banner-bg2.jpg) center / cover;
    }
    33%{
        background: url(../images/main-banner-bg3.jpg) center / cover;
    }
    66%{
        background: url(../images/main-banner-bg4.jpg) center / cover;
    }
    100%{
        background: url(../images/main-banner-bg2.jpg) center / cover;
    }
}
header .details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header .details span{
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 20px ;
    word-spacing: 15px ;
}
header .details img{
    width: 470px;
}
header .details p{
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px 0 22px;
}
header .details div{
    display: flex;
    gap: 30px;
}
.btn:hover{
    color: var(--main-color);
}
.btn{
    transition: 0.5s;
    z-index: 1;
    padding: 12px 30px;
    border: 1px solid var(--main-color);
    color: var(--white-color);
    background-color: var(--main-color);
    font-size: 17px;
    text-transform: uppercase;
    font-family: var(--regular-font);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
header .details div button:last-child{
    border-color: var(--white-color);
    background: transparent ;
}
.btn:before{
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;

    height: 100%;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    transition: 0.5s;
    transform: translate(-100% , -100%);
    
}
header .details div button:last-child:before{
    transform: translate(100% , -100%);
}
.btn:hover::before{
    transform: translate(0 , 0);
}
header .bannerLogo{
    width: 720px;
    overflow: hidden;
    border-radius: 30%;
    box-shadow: 0 0 20px 2px #000 inset;
    backdrop-filter: blur(5px);
}
header .bannerLogo .slider{
    display: flex;
    gap: 10px;
    align-items: center;
    animation: sliding 12s infinite ;
    animation-timing-function:cubic-bezier(0.175, 0.92, 0.165, 1);
}
@keyframes sliding {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-100%);
    }
    66%{
        transform: translateX(-200%);
        
    }
    100%{
        transform: translateX(-300%);
    }
}
header .bannerLogo img{
    width: 100%;
}   
/* end header */



/* start section */
section{
    padding: 100px 8%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
section .sec-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--semibold-font);
}
section .sec-heading span{
    color: var(--main-color);
    font-size: 22px;
}
section .sec-heading .sec-title{
    letter-spacing: 1.2px;
    font-size: 52px;
}
/* end section */

/* start sec-trending */
.trending{
    background: url(../images/matches-bg.jpg) center / cover;
}
.trending .container {
    width: 93%;
    margin: auto;
}
section .container .card-header{
    background: #000;
    display: flex;
}
section .container .card-header a{
    display: block;
    padding: 12px 50px 12px 25px  ;
    letter-spacing: 1.1px;
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--semibold-font);
    font-size: 22px;
    transition: 0.5s;
}
section .container .card-header a:hover{
    color: var(--main-color);
}
section .container .card-header a.active{
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    background-color: var(--main-color);
    color: var(--white-color);
}
.trending .container .matches{
    padding: 70px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.trending .container .matches .matchCard{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 50px;
}
.trending .container .matches .matchCard .card{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.trending .container .matches .matchCard .card:last-of-type div {
    align-items: flex-start;
}
.trending .container .matches .matchCard .card:last-of-type div b{
    text-align: left;
    background: url(../images/matches-bg2.png)  no-repeat center right / 100% 90%;
}
.trending .container .matches .matchCard .card:last-of-type img{
    left: unset;
    right: 0;
}
.trending .container .matches .matchCard .card img{
    position: absolute;
    left: 0;
    bottom: 0;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
.trending .container .matches .matchCard .card div{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.trending .container .matches .matchCard .card div b{
    display: block;
    width: 100%;
    text-align: right;
    padding: 18px 50px;
    font-size: 34px ;
    text-transform: uppercase;
    font-family: var(--semibold-font);
    background: url(../images/matches-bg1.png)  no-repeat center right / 90% 100%;
}
.trending .container .matches .matchCard .card div ol{
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 15px;
}
.trending .container .matches .matchCard .card div ol li{
    position: relative;
    list-style: none;
}
.trending .container .matches .matchCard .card div ol li span{
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 18px;
}   
.trending .container .matches .matchCard .card div ol li i{
    cursor: pointer;
    color: #888;
}
.trending .container .matches .matchCard .card div ol li p{
    position: absolute;
    /* display: none; */
    background-color: #000;
    border-radius: 5px;
    padding: 3px 15px  ;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    top: -110%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.trending .container .matches .matchCard .card div ol li:hover p{
    opacity: 1;
    visibility: visible;
}
.trending .container .matches .matchCard .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--bold-font);
}
.trending .container .matches .matchCard .time div {
    display: flex;
    font-size: 60px;
    line-height: 1.2;
    gap: 20px;
}
.trending .container .matches .matchCard .time > span{
    color: var(--main-color);
    font-family: var(--regular-font);
    font-size: 18px;
}
/* end sec-trending */


/* start sec-ranking */
.ranking{
    background-color: #000;
}
.ranking .container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}
.ranking .container .card{
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    padding: 60px 30px;
    gap: 30px;
    background: url(../images/top-team-bg.png) center / 100%  100%;
    align-items: center;
}
.ranking .container .card:hover{
    background: url(../images/top-team-bg.png) center / 100%  100% , brown;
    transform: translateY(-10px);
    border-radius: 5px;
}
.ranking .container .card b{
    text-transform: uppercase;
    font-size: 30px;
    font-family: var(--bold-font);
}
.ranking .container .card div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ranking .container .card div i{
    cursor: pointer;
    color: #888;
}
/* end sec-ranking */


/* start sec-stream */
.stream {
    background: url(../images/awards-bg.jpg) center / cover;
}
.stream .container {
    width: 93%;
    margin: auto;
}
.stream .container .gallery .subContainer{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.stream .container .gallery .subContainer.part2{
    grid-template-columns: repeat(3 , 1fr);

}
.stream .container .gallery .subContainer > div{
    position: relative;
    overflow: hidden;
}
.stream .container .gallery .subContainer > div img{
    width: 100%;
    height: 100%;
}
.stream .container .gallery .subContainer > div:hover div{
    opacity: 1;
    bottom: 0;
}
.stream .container .gallery .subContainer > div div{
    position: absolute;
    display: flex;
    align-items: center;

    transition: 0.5s;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    padding: 15px 30px;
    bottom: -20px;
    gap: 15px;
}
.stream .container .gallery .subContainer > div div b{
    text-transform: uppercase;
    font-size: 30px;
    font-family: var(--bold-font);
}
.stream .container .gallery .subContainer > div div i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--white-color);
    
}
/* end sec-stream */




/* start sec-products */
.products{
    background: #000;
}
.products .container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 25px;
}
.products .container .card{
    transition: 00.6s;
    padding: 5px;
    box-shadow:  0 0 10px 1px #333;
    border-radius: 5px;
}
.products .container .card .card-img{
    background: url(../images/products-shape.png) center / cover;
    padding: 60px 20px;
    position: relative;
}
.products .container .card .card-img img{
    width: 90%;
    display: block;
    margin: auto;
    height: 200px;
}
.products .container .card .card-img button{
    position: absolute;
    transition: 0.3s;
    bottom: -20px;
    width: 100%;
    transform: scale(0.8);
    opacity: 0;
    left: 0;
    /* display: none; */
}
.products .container .card .card-img:hover button{
    opacity: 1;
    transform: scale(1);
    bottom: 0;
}
.products .container .card .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    text-transform: uppercase;
    margin-top: 15px;
}
.products .container .card .card-body b{
    font-size: 25px;
    font-family: var(--semobold-font);
}
.products .container .card .card-body p{
    color: var(--main-color);
}
/* end sec-products */



.valuable{
    background: url(../images/awards-bg.jpg) center / cover;
}
.valuable .slider{
    overflow: hidden;
}
.valuable .container{
    position: relative;
    animation:  10s ii linear infinite;
}
@keyframes ii {
    100%{
        transform: translateX(-100%);
    }
}
.valuable .container div{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
}
.valuable .container div:last-child{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(100%);
}
.valuable .container div img{
    margin: auto;
}